MONGO_URI=""
PORT=5000 
JWT_SECRET="";
IMAGEKIT_PRIVATE_KEY=""
CLIENT_URL=http://localhost:5173
EMAIL_USER="orpha50@ethereal.email"
EMAIL_PASS="1mNb2C7c7W1gNRKduq"
SUPER_ADMIN_EMAIL=""
SUPER_ADMIN_PASSWORD=""
